<div class="h-100 w-100 mt-5 justify-content-center align-items-center border rounded border-secondary">
    <h1 class="text-dark text-center my-4 ">INFORMACION</h1>
    <ul>
        <li class="my-2 w-75" >ARGUMENTO DE ENTRADA: <spam class="text-danger">{{argumentoEntrada}}</spam></li>
        <li class="my-2 w-75" >NOMBRE DE LA PLATAFORMA: <spam class="text-danger">{{sistemaOperativo}}</spam></li>
        <li class="my-2 w-75" >VERSION DE NODE.JS: <spam class="text-success">{{nodeVersion}}</spam></li>
        <li class="my-2 w-75" >MEMORIA TOTAL RESERVADA: <spam class="text-success">{{rss}}</spam></li>
        <li class="my-2 w-75" >PATH DE EJECUCION: <spam class="text-success">{{pathEjecucion}}</spam></li>
        <li class="my-2 w-75" >PROCESS ID: <spam class="text-success">{{processID}}</spam></li>
        <li class="my-2 w-75" >CARPETA DEL PROYECTO: <spam class="text-success">{{CarpetaProyecto}}</spam></li>
        <li class="my-2 w-75" >PROCESADORES: <spam class="text-success">{{procesadores}}</spam></li>
    </ul>
</div>