{{#> body }}
  <h1>Vista de Productos</h1>

  {{#if productList}}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        {{#each productList}}
        <tr>
          <td>{{{name}}}</td>
          <td>{{{price}}}</td>
          <td>
            <img
              src="{{{thumbnail}}}"
              alt="{{{name}}}"
              width="100px"
            />
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
    <div class="alert alert-danger">No hay productos</div>
  {{/if}}       
{{/body}}